@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-noir-500: #1a1a1a;
  --color-noir-700: #131313;

  --color-primary-400: #86b7ca;
  --color-primary-500: #4c52ff;

  --color-second-400: #ff4d50;
  --color-second-500: #d80907;

  --font-one: var(--font-livvic);
  --font-two: var(--font-jost);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
